{% extends "layout.html" %}

{% block title %}
Settings
{% endblock %} 

{% block main %}

<form action="/email" method="post">
  
  <div class="mb-3">
    <select required id="degree" class="form-control mx-auto w-auto" name = 'degree'>
      <option disabled selected >Choose degree...</option>
      {% for degree in degrees %}
      <option value = {{degree['id']}} > {{degree['course_name']}}</option>
      {% endfor %}
    </select>

    <br>
    

    <div class="mb-3">
      <select required id="enquirer" class="form-control mx-auto w-auto" name = 'enquirer'>
        <option disabled selected >Choose enquirer...</option>
        <option value = 'rsl' > Recent School Leaver</option>
        <option value = 'nrsl' > Non-recent School Leaver</option>
      </select>
      
      </div>

      <!-- <div class="mb-3">
        {% for block in block_types %}
          <div class="form-check form-control mx-auto w-auto" id = 'blocks'>
            
            <input class="form-check-input" type="checkbox" id = {{block['type']}} value= {{block['type']}}>
            <label class="form-check-label mx-auto w-auto" for={{block['type']}}>
              {{block['type']}}
            </label>
          </div>
          {% endfor %} -->


          
            <h6>Blocks:</h4>
       
          <div class="mb-3" id = 'blocks'>
            
          </div>
   
    
 
  <button required class="btn btn-primary" type="submit">Generate Email</button>
</form>

<script type="text/javascript" src="{{ url_for('static', filename='js/settings.js') }}"></script>

{% endblock %}
