{% extends "layout.html" %} {% block title %} Email{% endblock %} {% block main
%}


<div  class="container-fluid">

  {% if email_template %}
  <h2>Email template</h2>
<button id="emailCopy"  type="button" class="btn btn-primary">Copy</button>
<button disabled id="enhanceEmail" type="button" class="btn btn-primary">Enhance</button>
{% endif %}
<br>
  <div id="email_template" class="border container-fluid text-start">
    {% if not email_template %}
    <p>
      No email template! You can generate an email template by going to the
      settings
    </p>
    {% endif %} {{email_template|safe}}
  </div>
</div>
<br />

<script type="text/javascript" src="{{ url_for('static', filename='js/email.js') }}"></script>

{% endblock %}
